/* ===================== BASE (scoped, no *,body,:root) ===================== */
* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}



/* ===================== HEADER ===================== */
/* HEADER MAIN CONTAINER */
.header-container {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  /* background-color: none; */
 position: fixed;
    top: 0;
    left: 0;
  z-index: 99999;
  
  color: white;
  z-index: 100;


}

/* LOGO */
.logo img {
  height: 54px;
  width: auto;
  display: block;
}

/* CENTER CURVED NAVIGATION (DESKTOP) */
.nav-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 70px;
  width: 57%;
  animation: navDrop 0.8s ease-out forwards;

}

@keyframes navDrop {
  from {
    opacity: 0;
    transform: translate(-50%, -100px);
  }

  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

/* Black curved shape using SVG SVG background trick */
.curved-bg {
  /* background-color: #000000; */
  padding: 12px 50px 18px 50px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  display: flex;
  align-items: center;
  /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); */

}

.desktop-nav {
  display: flex;
  gap: 25px;
  list-style: none;

}

.desktop-nav a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  white-space: nowrap;
  transition: color 0.2s;
}

.desktop-nav a {
  position: relative;
  text-decoration: none;
  /* color: #20251f; */
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .08em;
  padding-bottom: 5px;
}

.desktop-nav a::after {
  content: "";
  position: absolute;

  left: 0;
  bottom: 0;

  width: 0;
  height: 2px;

  background: #ffffff;

  transition: width 0.35s ease;
}

.desktop-nav a:hover::after {
  width: 100%;
}



.desktop-nav a:hover {
  color: #f7f8f8;
}



/* 
.desktop-nav a {
  position: relative;
  text-decoration: none;
  /* color: #20251f; *
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .08em;
  /* padding-bottom: 5px; *
  padding: 1px 3px 5px 5px;
}

.desktop-nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 112%;
  width: 0;
  background: #ffffff;
  transition: width 0.35s ease;
  color: black;
  z-index: -1;
  border-radius: 2px;
}

.desktop-nav a:hover::after {
  width: 100%;
}

 */


/* dropdown  */
/* =====================================================
   OUR PROGRAMS
===================================================== */

.our_drop_hover {
  position: relative !important;
}


/* =====================================================
   MAIN PROGRAM DROPDOWN
===================================================== */

.program-dropdown {

  position: absolute !important;

  top: calc(100% + 18px) !important;
  left: 50% !important;

  width: 280px !important;

  height:  20.5rem !important;

  /* min-height: 0 !important; */

  padding: 12px !important;

  box-sizing: border-box !important;

  background: #111 !important;

  border-radius: 10px !important;

  box-shadow:
    0 15px 40px rgba(0, 0, 0, .20);

  opacity: 0;

  visibility: hidden;

  transform:
    translateX(-50%) translateY(-15px) scale(.96);

  transform-origin: top center;

  transition:
    opacity .3s ease,
    transform .4s cubic-bezier(.16, 1, .3, 1),
    visibility .3s ease;

  z-index: 99999 !important;
}


/* =====================================================
   MAIN DROPDOWN OPEN
===================================================== */

.our_drop_hover:hover>.program-dropdown {

  opacity: 1;

  visibility: visible;

  transform:
    translateX(-50%) translateY(0) scale(1);
}


/* =====================================================
   MAIN DROPDOWN ARROW
===================================================== */

.program-dropdown::before {

  content: "";

  position: absolute;

  top: -7px;

  left: 50%;

  width: 14px;
  height: 14px;

  background: #111;

  transform:
    translateX(-50%) rotate(45deg);
}


/* =====================================================
   MAIN DROPDOWN UL
===================================================== */

.program-dropdown-list {

  display: block !important;

  width: 100% !important;

  height: auto !important;

  margin: 0 !important;

  padding: 0 !important;

  list-style: none !important;

  box-sizing: border-box !important;
}


/* =====================================================
   MAIN DROPDOWN ITEM
===================================================== */

.program-dropdown-item {

  position: relative !important;

  display: block !important;

  width: 100% !important;

  height: auto !important;

  margin: 0 !important;

  padding: 0 !important;

  list-style: none !important;

  box-sizing: border-box !important;
}

/* =========================================
   MAIN DROPDOWN LINK - FIX
========================================= */

.program-dropdown-link {
  position: relative !important;

  display: block !important;

  width: 100% !important;
  min-width: 0 !important;

  height: auto !important;
  min-height: 44px;

  padding: 12px 38px 12px 13px !important;

  margin: 0 !important;

  box-sizing: border-box !important;

  color: #fff !important;

  background: transparent !important;

  text-decoration: none !important;

  font-size: 13px !important;

  line-height: 1.5 !important;

  /* MOST IMPORTANT */
  white-space: normal !important;

  overflow-wrap: break-word !important;

  word-break: normal !important;

  border-radius: 6px;

  transition:
    background .25s ease,
    padding-left .25s ease,
    color .25s ease;
}

/* =====================================================
   MAIN LINK HOVER
===================================================== */

.program-dropdown-link:hover {

  background: rgba(255, 255, 255, .10) !important;

  padding-left: 20px !important;

  color: #f4f6f7 !important;
  /* color: #00a8ff !important; */
}


/* =====================================================
   ARROW
===================================================== */

.submenu-arrow {

  display: inline-block;

  margin-left: 10px;

  font-size: 20px;

  line-height: 1;

  opacity: .7;

  transform: translateX(0);

  transition:
    transform .25s ease,
    opacity .25s ease;
}


.program-dropdown-item:hover .submenu-arrow {

  opacity: 1;

  transform: translateX(4px);
}


/* =====================================================
   MAIN LINK ORANGE LINE
===================================================== */

.program-dropdown-link::after {

  content: "";

  position: absolute;

  left: 0;

  bottom: 0;

  width: 0;

  height: 1px;

  background: #ff7a18;

  transition: width .3s ease;
}


.program-dropdown-link:hover::after {

  width: 100%;
}


/* =====================================================
   SECOND LEVEL SUBMENU
===================================================== */

.program-submenu {

  position: absolute !important;

  top: 0 !important;

  left: calc(100% + 10px) !important;

  width: 280px !important;

  /* height: 14rem !important; */

  min-height: 0 !important;

  padding: 10px !important;

  box-sizing: border-box !important;

  /* background: #111 !important; */

  border-radius: 10px !important;

  box-shadow:
    0 15px 40px rgba(0, 0, 0, .20);

  opacity: 0;

  visibility: hidden;

  transform:
    translateX(-15px) scale(.96);

  transform-origin: left center;

  transition:
    opacity .3s ease,
    transform .35s cubic-bezier(.16, 1, .3, 1),
    visibility .3s ease;

  z-index: 100000 !important;
}


/* =====================================================
   SUBMENU OPEN
===================================================== */

.program-dropdown-item:hover>.program-submenu {

  opacity: 1;

  visibility: visible;

  transform:
    translateX(0) scale(1);
}


/* =====================================================
   SUBMENU UL
===================================================== */

.program-submenu-list {

  display: block !important;

  width: 100% !important;

  height: auto !important;

  margin: 0 !important;

  padding: 0 !important;

  list-style: none !important;
  box-sizing: border-box !important;

  background: #111 !important;
}


/* =====================================================
   SUBMENU ITEM
===================================================== */

.program-submenu-item {

  display: block !important;

  position: static !important;

  width: 100% !important;

  height: auto !important;

  margin: 0 !important;

  padding: 0 !important;

  list-style: none !important;

  box-sizing: border-box !important;
}


/* =====================================================
   SUBMENU LINK
===================================================== */

.program-submenu-link {

  position: relative !important;

  display: block !important;

  width: 100% !important;

  height: auto !important;

  min-height: 40px;

  padding: 11px 13px !important;

  margin: 0 !important;

  box-sizing: border-box !important;

  color: #fff !important;

  background: transparent !important;

  text-decoration: none !important;

  font-size: 12px !important;

  line-height: 1.4;

  white-space: normal;

  border-radius: 6px;

  opacity: 0;

  transform: translateX(-10px);

  transition:
    opacity .3s ease,
    transform .3s ease,
    background .25s ease,
    padding-left .25s ease,
    color .25s ease;
}


/* =====================================================
   SUBMENU ITEMS ANIMATION
===================================================== */

.program-dropdown-item:hover .program-submenu-item:nth-child(1) .program-submenu-link {

  opacity: 1;

  transform: translateX(0);

  transition-delay: .05s;
}


.program-dropdown-item:hover .program-submenu-item:nth-child(2) .program-submenu-link {

  opacity: 1;

  transform: translateX(0);

  transition-delay: .10s;
}


.program-dropdown-item:hover .program-submenu-item:nth-child(3) .program-submenu-link {

  opacity: 1;

  transform: translateX(0);

  transition-delay: .15s;
}


.program-dropdown-item:hover .program-submenu-item:nth-child(4) .program-submenu-link {

  opacity: 1;

  transform: translateX(0);

  transition-delay: .20s;
}


.program-dropdown-item:hover .program-submenu-item:nth-child(5) .program-submenu-link {

  opacity: 1;

  transform: translateX(0);

  transition-delay: .25s;
}


.program-dropdown-item:hover .program-submenu-item:nth-child(6) .program-submenu-link {

  opacity: 1;

  transform: translateX(0);

  transition-delay: .30s;
}


.program-dropdown-item:hover .program-submenu-item:nth-child(7) .program-submenu-link {

  opacity: 1;

  transform: translateX(0);

  transition-delay: .35s;
}


.program-dropdown-item:hover .program-submenu-item:nth-child(8) .program-submenu-link {

  opacity: 1;

  transform: translateX(0);

  transition-delay: .40s;
}


.program-dropdown-item:hover .program-submenu-item:nth-child(9) .program-submenu-link {

  opacity: 1;

  transform: translateX(0);

  transition-delay: .45s;
}


.program-dropdown-item:hover .program-submenu-item:nth-child(10) .program-submenu-link {

  opacity: 1;

  transform: translateX(0);

  transition-delay: .50s;
}


.program-dropdown-item:hover .program-submenu-item:nth-child(11) .program-submenu-link {

  opacity: 1;

  transform: translateX(0);

  transition-delay: .55s;
}


.program-dropdown-item:hover .program-submenu-item:nth-child(12) .program-submenu-link {

  opacity: 1;

  transform: translateX(0);

  transition-delay: .60s;
}


/* =====================================================
   SUBMENU HOVER
===================================================== */

.program-submenu-link:hover {

  background: rgba(255, 255, 255, .10) !important;

  padding-left: 20px !important;

  color: #00a8ff !important;
}


/* =====================================================
   SUBMENU ORANGE LINE
===================================================== */

.program-submenu-link::after {

  content: "";

  position: absolute;

  left: 0;

  bottom: 0;

  width: 0;

  height: 1px;

  background: #ff7a18;

  transition: width .3s ease;
}


.program-submenu-link:hover::after {

  width: 100%;
}







/* SOCIAL ICONS (RIGHT) */
.social-icons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.social-icons a {
  font-size: 22px;
  text-decoration: none;
  transition: transform 0.2s ease;
}

.social-icons a:hover {
  transform: scale(1.15);
}

.fa-instagram {
  color: #e1306c;
}

.fa-linkedin {
  color: #0077b5;
}

.fa-youtube {
  color: #ff0000;
}

/* =========================================
   MOBILE HAMBURGER / CLOSE BUTTON
========================================= */

.hamburger {
    display: none;

    position: relative;

    width: 42px;
    height: 42px;

    padding: 0;

    border: 0;
    outline: 0;

    background: transparent;

    cursor: pointer;

    z-index: 1000000;
}


/* Hamburger lines */

.hamburger span {
    position: absolute;

    left: 10px;

    width: 22px;
    height: 2px;

    background: #000;

    border-radius: 10px;

    transition:
        transform .35s ease,
        opacity .25s ease,
        width .35s ease;
}


/* Three lines position */

.hamburger span:nth-child(1) {
    top: 12px;
}

.hamburger span:nth-child(2) {
    top: 20px;
}

.hamburger span:nth-child(3) {
    top: 28px;
}


/* =========================================
   OPEN → CLOSE ANIMATION
========================================= */

.hamburger.active span:nth-child(1) {
    top: 20px;

    transform: rotate(45deg);
}


.hamburger.active span:nth-child(2) {
    opacity: 0;

    transform: translateX(8px);

    width: 0;
}


.hamburger.active span:nth-child(3) {
    top: 20px;

    transform: rotate(-45deg);
}


/* =========================================
   MOBILE
========================================= */

@media (max-width: 992px) {

    .hamburger {
        display: block;
    }

}

/* =========================================
   MOBILE DRAWER MENU
========================================= */
.mobile-menu {
  display: none;

  position: fixed !important;

  top: 75px !important;
  left: 0 !important;

  width: 100vw !important;

  max-height: calc(100vh - 75px);

  overflow-y: auto;
  overflow-x: hidden;

  box-sizing: border-box;

  background: #000000;

  flex-direction: column;

  align-items: stretch;

  padding: 20px 0 30px;

  gap: 0 !important;

  z-index: 999999 !important;

  box-shadow: 0 10px 25px rgba(0, 0, 0, .25);
}

/* OPEN MOBILE MENU */

.mobile-menu.active {
  display: flex !important;

  animation: mobileMenuIn .3s ease forwards;
}

@keyframes mobileMenuIn {

  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }

}


/* =========================================
   NORMAL MOBILE LINKS
========================================= */

.mobile-menu>a {

  display: block !important;

  width: 100%;

  padding: 15px 20px;

  box-sizing: border-box;

  color: #fff !important;

  text-align: center;

  text-decoration: none;

  font-size: 16px;

  font-weight: 600;
}


.mobile-menu>a:hover {

  color: #00a8ff;

  background: rgba(255, 255, 255, .05);
}


/* =========================================
   OUR PROGRAMS WRAPPER
========================================= */

.mobile-program-wrapper {

  width: 100%;

  box-sizing: border-box;
}


/* =========================================
   OUR PROGRAMS BUTTON
========================================= */

.mobile-program-button {

  position: relative;

  display: flex;

  align-items: center;

  justify-content: center;

  gap: 8px;

  width: 100%;

  padding: 15px 30px;

  box-sizing: border-box;

  border: 0;

  outline: none;

  background: transparent;

  color: #fff;

  font-family: inherit;

  font-size: 16px;

  font-weight: 600;

  cursor: pointer;

  transition:
    color .25s ease,
    background .25s ease;
}


.mobile-program-button:hover {

  color: #00a8ff;

  background: rgba(255, 255, 255, .05);
}


/* =========================================
   MAIN PLUS
========================================= */

.mobile-program-icon {

  display: inline-flex;

  align-items: center;

  justify-content: center;

  width: 22px;

  height: 22px;

  font-size: 20px;

  line-height: 1;

  transition:
    transform .35s ease;
}


/* =========================================
   MAIN DROPDOWN
========================================= */

.mobile-program-dropdown {

  width: 100%;

  max-height: 0;

  overflow: hidden;

  opacity: 0;

  visibility: hidden;

  transition:
    max-height .5s ease,
    opacity .3s ease,
    visibility .3s ease;
}


/* OPEN */

.mobile-program-wrapper.active .mobile-program-dropdown {

  max-height: 1500px;

  opacity: 1;

  visibility: visible;
}


/* Rotate + */

.mobile-program-wrapper.active .mobile-program-icon {

  transform: rotate(45deg);
}


/* =========================================
   COURSE WRAPPER
========================================= */

.mobile-course-wrapper {

  width: 100%;

  box-sizing: border-box;
}


/* =========================================
   COURSE BUTTON
========================================= */

.mobile-course-button {

  position: relative;

  display: flex;

  align-items: center;

  justify-content: space-between;

  width: 100%;

  min-height: 48px;

  padding: 12px 35px;

  box-sizing: border-box;

  border: 0;

  outline: none;

  background: transparent;

  color: #fff;

  font-family: inherit;

  font-size: 14px;

  font-weight: 600;

  text-align: left;

  cursor: pointer;

  transition:
    color .25s ease,
    background .25s ease,
    padding-left .25s ease;
}


.mobile-course-button:hover {

  color: #00a8ff;

  background: rgba(255, 255, 255, .05);

  padding-left: 40px;
}


/* =========================================
   COURSE PLUS
========================================= */

.mobile-course-icon {

  display: flex;

  align-items: center;

  justify-content: center;

  flex-shrink: 0;

  width: 20px;

  height: 20px;

  font-size: 18px;

  transition:
    transform .35s ease;
}


/* =========================================
   COURSE SUB DROPDOWN
========================================= */

.mobile-course-dropdown {

  width: 100%;

  max-height: 0;

  overflow: hidden;

  opacity: 0;

  visibility: hidden;

  transition:
    max-height .45s ease,
    opacity .3s ease,
    visibility .3s ease;
}


/* OPEN COURSE */

.mobile-course-wrapper.active .mobile-course-dropdown {

  max-height: 700px;

  opacity: 1;

  visibility: visible;
}


/* Rotate course + */

.mobile-course-wrapper.active .mobile-course-icon {

  transform: rotate(45deg);
}


/* =========================================
   SUB LINKS
========================================= */

.mobile-course-dropdown a {

  position: relative;

  display: block;

  width: 100%;

  box-sizing: border-box;

  padding: 9px 35px 9px 55px;

  color: #aaa;

  font-size: 13px;

  font-weight: 500;

  line-height: 1.5;

  text-align: left;

  text-decoration: none;

  transition:
    color .25s ease,
    padding-left .25s ease,
    background .25s ease;
}


/* Orange line */

.mobile-course-dropdown a::before {

  content: "";

  position: absolute;

  left: 35px;

  top: 50%;

  width: 0;

  height: 1px;

  background: #ff7a18;

  transform: translateY(-50%);

  transition:
    width .3s ease;
}


.mobile-course-dropdown a:hover {

  color: #00a8ff;

  padding-left: 65px;

  background: rgba(255, 255, 255, .04);
}


.mobile-course-dropdown a:hover::before {

  width: 12px;
}


/* =========================================
   RESPONSIVE
========================================= */

@media (max-width: 992px) {

  .header-container {

    padding: 0 20px;
     background-color: #ffffff !important;

  }


  .nav-wrapper {

    display: none;

  }


  .hamburger {

    display: block;

  }

}


.header-scroll{
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.03);
}